{% extends 'admin_manager.html' %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container" id="app1" role="form">
    <label><b>user:</b></label><input type="text" name="users" v-model="user.users" placeholder="用户名：" /><br>
    <label><b>password:</b></label><input type="password" v-model="user.password" /><br>
    <button id="adminsubmit" class="btn btn-info" @click="login">sign in</button>
</div>

<script>
    //$(document).ready(function () {
      //  alert('adsfghg');
    //console.log($('#adminsubmit'));
   // $('#adminsubmit').click(function () {
     //   $.post('/admin_login',{},function () {
       // });
    //});
    //});
    //alert('sdagdhgfjhhg')
var app1 =new Vue({
    el:'#app1',
    data:{
        user:{
            users:'',
            password:''
        }

    },
    methods:{
        login:function () {
            console.log(this.user.users)
            $.post('admin_login',this.user,function (res) {
                if(res =='OK'){
                    location.href='admin'
                }
                else{
                    alert('错误：'+res)
                }

            });

        }
    }



})
    </script>
    {% endblock %}
