{% block header %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="{{url_for('static',filename='css/stylesheet.css')  }}" rel="stylesheet ">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>manager</title>
</head>
{% endblock %}
<body>
{% block head %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
                   <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <a class="navbar-brand" href="#">后台管理系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active navbar-right"><a href="#">内容发布</a></li>
                <li class="navbar-right"><a href="#">内容审核</a></li>
            </ul>
        </div>

    </div>
</div>
{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-md-6">
            <h4>title</h4>
        </div>
        <div class="col-md-6">
            <h4>oprator</h4>
        </div>
    </div>
    {% for item in title %}
<div class="row">
<div class="col-md-6">{{ item.title }}</div>
    <div class="col-md-6"><button onclick="delete1 ({{ item.id }})" class="btn btn-danger">del</button></div>
</div>
<script>
function delete1 (id) {
    $.ajax({
        url: '/delete_news/' + id,
        type: 'DELETE',
        success: function (res) {
            if (res === 'OK') {
                //alert('删除成功')
                location.reload()
            }
            else {
                alert('删除失败')
            }

        }

    })
}
</script>
{% endfor %}
</div>
{% endblock %}
{% block footer %}

{% endblock %}

</body>
</html>