<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TD-SCDMA网络覆盖与干扰优化系统</title>
    <script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')  }}"></script>
    <link type="text/css" href="{{url_for('static',filename='css/stylesheet.css')  }}" rel="stylesheet ">
</head>
<body>
    <div class="">
        <h1>TD-SCDMA网络覆盖与干扰优化系统</h1>
    </div>
    <div class="menu">
       {% block content %} <a href="login.html">登录/注册</a>|<a href="dataanaltsis.html">数据处理</a>|<a href="query_form.html">搜索</a>
           <p>zaqwsxcde</p>
       {% endblock %}
    </div>

    <div>
        <div>

        </div>
    </div>
    <div>

    </div>
    <div class="footer">
        power by lijin
    </div>
</body>
</html>