<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
{% extends 'index.html' %}
{% block content %}
<form method="post">
<div class="container text-center" style="width: 30%">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">sign in</h3>
    </div>
    <div class="panel-body bg-success">
{{ form.csrf_token() }}
{{ form.user.label }}{{ form.user }} <br>
{{ form.password.label }}{{ form.password }} <br>
{{ form.password2.label }}{{ form.password2 }} <br>
{{ form.submit }}
</div>
    </div>
</div>
</form>
{% endblock %}
</body>
</html>